
<table mat-table [dataSource]="dataSource()" >

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="descripcion" width="600px">
    <th mat-header-cell *matHeaderCellDef> Descripccion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoProducto">
    <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
    <td mat-cell *matCellDef="let element">{{element.tipoProducto.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}}</td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element" > 
      <app-add-producto [producto]="element" (updateList)="getProducts()" style="margin-right:10px;"></app-add-producto>
      <app-delete-product [producto]="element" (updateList)="getProducts()"></app-delete-product>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>